<%= form_for([@order, @order.comments.build]) do |f| %>
	<div class="field">
		<%= f.label :Comment %> <br>
		<%= f.text_area :content%>
	</div>
<div class="actions">
<%= f.button :submit %>
</div>
<% end %>