<div class="row">
	<div class="col-md-6">
	<%= simple_form_for([@order, @order.comments.build]) do |f| %>
		<%= f.input :content, label: (t ".comment"), as: :text %>
		<%= f.button :submit, (t ".add_comment"), class: "btn btn-primary btn-xs" %>
	<% end %>
	</div>
</div>
<br>

