<footer class="footer">
  <small>
    The <a href="http://www.railstutorial.org/">EasyGetShop</a>
    by <a href="http://www.tariquemahmud.net/">Anon</a>
  </small>
  <nav>
  <div class="container">
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://news.ycombinator.com/">News</a></li>
    </ul>
    </div>
  </nav>
</footer>