<!-- Page Pre-Loader -->
<div class="page-preloader">
  <div class="preloader">
    <!--
        <img src="img/preloader.gif" alt="Preloader">
    -->
    <%= image_tag('preloader.gif')%>

  </div>
</div><!-- .page-preloader -->